<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dynasty.name %>
</p>

<p class="btn btn-default" role="button"><%= link_to 'Edit', edit_dynasty_path(@dynasty) %></p>
<p class="btn btn-default" role="button"><%= link_to 'Back', dynasties_path %></p>
