<h1>About us</h1>
<p>The objective of this organization shall be: </p>
<ul>
    <li>To unite and assist all students at Texas A&M University who are interested in learning about the Chinese culture.</li>
    <li>To promote a better understanding between those of Chinese descent and those from different ethnic backgrounds.</li>
</ul>
<p>To contact us:</p>
<ul>
    <li>Facebook: https://www.facebook.com/groups/tamucsa/</li>
    <li>Email: atmcsa@gmail.com</li>
</ul>