
   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Admin Dashboard</h2>
        <p>This is an admin dashboard.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Event Management</h2>
          <p class="btn btn-default" role="button"><%= link_to "Next", events_path%></p>
        </div>
        <div class="col-md-4">
          <h2>Users Management</h2>
          <p class="btn btn-default" role="button"><%= link_to "Next", users_path%></p>
       </div>
        <div class="col-md-4">
          <h2>Report</h2>
          <p><a class="btn btn-default" href="#" role="button">Get Report</a></p>
        </div>
         <div class="col-md-4">
          <h2>Change Points</h2>
          <p><a class="btn btn-default" href="#" role="button">Next</a></p>
       </div>
         <div class="col-md-4">
          <h2>Change Grouping</h2>
          <p><a class="btn btn-default" href="#" role="button">Next</a></p>
       </div>
      </div>
