
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide"  src="http://static1.squarespace.com/static/5609cb81e4b078c773bff44b/5609cc54e4b03d38e9eb2aa7/5609cc5be4b08838190fdd85/1443482737804/?format=2500w" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to CSA</h1>
              <p>Have you been a member of us?</p>
              <p><a class="btn btn-lg btn-primary" href="/users/new" role="button"><u>Join us today</u></a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="http://static1.squarespace.com/static/5609cb81e4b078c773bff44b/560eeb79e4b0b5db1d9d767f/560eebc6e4b0ee842bdfcea8/1443818438965/11_0.jpg?format=2500w" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Register for Midnight Yell 2016</h1>
              <p>Note: Register today for Midnight Yell on April 14 in Kyle Field to pump up the Twelfth Man for the next day's big game!</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://static1.squarespace.com/static/5609cb81e4b078c773bff44b/560ee909e4b004f2dcf39cfa/560eea5fe4b055b4cd14a2d7/1443818082822/FullSizeRender.jpg?format=2500w" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Let's get moving!</h1>
              <p>Note: We are intended to have a sports club for our community. If you are interested in it, do not hesitate to join us!</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Register now</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="fourth-slide"  src="http://static.communitytable.parade.com/wp-content/uploads/2013/05/study-drugs-ftr.jpg" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Improve your academic performance!</h1>
              <p>We are now having students from different majors, different grades. We have a project for graduates to help lower-grade students to achieve a better grades.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">I wanna help others.</a> <a class="btn btn-lg btn-primary" href="#" role="button">I need some help.</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
        <span class="sr-only">Previous</span> 
      </a> 
       
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> 
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
        <span class="sr-only">Next</span>  
      </a>  
    </div>  <!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://farm5.staticflickr.com/4051/4683492386_6ed06aaab2_o.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>MISSION</h2>
          <p>We are a family of Chinese students in Texas A&M University. We have different names, appearence, and experiences, but we all have the same faith: 'The love of family and the admiration of friends is much more important than wealth and privilege.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://farm3.staticflickr.com/2112/2471500922_6efeb02b87_o.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>GOALS</h2>
          <ul align="left">
            <li>To create a welcoming atmosphere for new ones</li>
            <li>To build harmoneous and energetic community </li>
            <li>To serve as a big forum of communication</li>
            <li>To sponsor kinds of events and programs</li>
            <li>To enrich campus life of all students</li>
            </ul>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://farm5.staticflickr.com/4025/4462120121_4181916edd_o.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>EVENTS</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://library.tamu.edu/assets/images/buildings/wcl.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://fcor.tamu.edu/images/TAMU%20Aerial.2009.0615.7631.from%20EAST.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://mediad.publicbroadcasting.net/p/ketr/files/201511/west_campus_library_tamu.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">



   
  


