<html>
    <body>
        <ul class="imglist">
            <li>
                <h1>Hot Pot Night</h1>
                <%= image_tag("food0.png") %>
            </li>
            <li>
                <h1>Chinese New Year Pot Luck</h1>
                 <%= image_tag("food1.png") %>
            </li>
            <li>
                <h1>Boba Night</h1>
                <%= image_tag("food2.png") %>
            </li>
           
        </ul>
    </body>
</html>