<html>
    <body>
        <ul class="imglist">
            <li>
                <h1>Intramurals</h1>
                <%= image_tag("game1.png") %>
            </li>
            <li>
                <h1>Capture the Flag with AAIV</h1>
                 <%= image_tag("games2.png") %>
            </li>
            <li>
                <h1>Ni-Howdy 2016: Journey to the West</h1>
                <%= image_tag("game3.png") %>
            </li>
           
        </ul>
    </body>
</html>