<html>
    <body>
        <ul class="imglist">
            <li>
                <h1>General Meeting</h1>
                <%= image_tag("event1.png") %>
            </li>
            <li>
                <h1>Concession</h1>
                 <%= image_tag("event2.png") %>
            </li>
            <li>
                <h1>Dumpling Night</h1>
                <%= image_tag("event3.png") %>
            </li>
            <li>
                <h1>CSA & CSSA Mixer</h1>
                 <%= image_tag("event4.png") %>
            </li>
           
        </ul>
    </body>
</html>