<h1>Editing Point Rule</h1>

<%= render 'form' %>

<p class="btn btn-default" role="button"><%= link_to 'Show', @point_rule %></p>
<p class="btn btn-default" role="button"><%= link_to 'Back', point_rules_path %></p>
