<h1>Editing User</h1>

<%= render 'form' %>

<p class="btn btn-default" role="button"><%= link_to 'Show', @user %></p>
<% if params[:checkin] %>
<p class="btn btn-default" role="button"><%= link_to 'Back', event_path(@event) %></p>
<% else %>
<p class="btn btn-default" role="button"><%= link_to 'Back', users_path %></p>
<% end %>
