<!-- FOOTER -->
      <footer>
        <br>
        <br>
        <p>Welcome to go to our social website and follow us!</p>
        <p>
        <a href="http://twitter.com/"><img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/twitter_letter-512.png" width="5%"></a>
        <a href="http://www.facebook.com"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png" width="5%"></a>
        <a href="http://plus.google.com"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Google_plus_icon.svg/2000px-Google_plus_icon.svg.png" width="5%"></a>
        </p>
        <br>
        <div style="margin:0;padding:0; width:1140px;height:2px;background-color:#000000;overflow:hidden;"></div>
        <h4>&copy; 2016 Team Moment. &middot; <%= link_to 'Privacy' , static_pages_privacy_path%> &middot; <%= link_to 'Terms' , static_pages_terms_path%> <a class="btn btn-sl btn-primary pull-right" href="#top" role="button">Back to top</a></h4>
      </footer>
