<!-- FOOTER -->
      <footer>
        <p>&copy; 2016 Team Moment. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      <p>
        <a href="http://twitter.com/"><img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/twitter_letter-512.png" width="5%"></a>
        <a href="http://www.facebook.com"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png" width="5%"></a>
        <a href="http://plus.google.com"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Google_plus_icon.svg/2000px-Google_plus_icon.svg.png" width="5%"></a>
      </p>
        <p><a class="btn btn-lg btn-primary pull-right" href="#top" role="button">Back to top</a></p>
      </footer>